.animate-target {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    will-change: opacity, transform;
}
.animate-target.fade-in-active {
    opacity: 1;
    transform: translateY(0);
}
