/* font-family: 'Futura Std', sans-serif; */
/* font-family: 'Poppins', sans-serif;                                 */
/* body {
    font-family: 'Poppins', sans-serif;
} */

.poppins {
    font-family: 'Poppins', sans-serif;
}

.futura {
    font-family: 'Futura Std', sans-serif;
}